.project {
  padding: 9rem 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.heading{
  color: var(--FontColor);
  h1{
    font-size: 3.5rem;
  }
  span {
    width: 5rem;
    height: .3rem;
    border-radius: .5rem;
    background: var(--GradientColor);
}
}

.my_categoryBtn{
  color: var(--FontColor);
  border: 1px solid var(--FontColor) !important;
  background-color: var(--CatBtn);
}
.my_categoryBtn:hover{
  color:var(--FontColor) !important;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--CatBtn);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.buttonContent {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: var(--GradientColor);
  transition: all 0.475s;
}

.card2 {
  width: 100%;
  height: 18rem;
  background-color: #1a1a1a;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cardddd img{
  height: 100%;
  object-fit: contain;
}

@keyframes pulse {
  50% {
    opacity: .2;
  }
}
.animatePulse {
  animation: pulse 1s ease-in-out infinite;
}

.bgNeutral {
  background-color: rgba(61, 59, 59, 0.5);
}

.w56 {
  width: 100%;
}

.h64 {
  height: 100%;
}

.flex {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

@media(width<576px){
  .row{
    display: block;
    flex-wrap: nowrap;
  }
}
