.resume {
  padding: 9rem 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heading{
  color: var(--FontColor);
}

.box {
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  background: var(--GradientColor);
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--CatBtn);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.buttonContent {
  position: relative;
  z-index: 1;
  color: #fff;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: var(--GradientColor);
  transition: all 0.475s;
}

.Card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--bgCard);
  color: var(--FontColor);
}


.Cert{
  color: var(--FontColor);

  .extLink{
    fill: var(--ExtBtn);
  }
}

@media (width>992px) {
  .Card {
    width: 50% !important;
  }
}

.tooltipContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: var(--GradientColor);
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  color: #fff;

  span img{
    height: 5rem;
  }
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  transform-origin: bottom;
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background: var(--background);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: var(--background);
}

.tooltipContainer:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) scale(1);
}
.tooltipContainer:hover {
  transform: scale(0.9);
}

