.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
}


.myPic{
  border-radius: 2rem;
  background: var(--bgIntro);

  .img{
   background: var(--bgmyPicCircle);
    border-radius: 50%;
    padding: .4rem;
  }
  img{
    height: 10rem;
    border-radius: 50%;

  }
}
.intro div {
  p {
    color: var(--FontColor);
    font-size: 3.5rem;
  }
}
.typeEffect {
  display: inline-block;

  h2 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 2rem;
    background: var(--GradientColor);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: gradient-typing 1.5s steps(30, end), blinkcaret 0.5s infinite;
  }
}

@keyframes gradient-typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkcaret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #1d4ed8;
  }
}

.social{
  gap: 2rem;
}
.social span {
  cursor: pointer;
}

.social span .oval {
  transition: 0.2s;
  fill: var(--socialIcon);
}

.social span:hover #github {
  fill: #0f766e;
}

.social span:hover #linkedin {
  fill: #0e7490;
}

.social span:hover #email {
  fill: #6d28d9;
}

.social span:hover #twitter {
  fill: #0f766e;
}

.social span:hover #insta {
  fill: #1d4ed8;
}

.box {
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  background-image: var(--GradientColor);
}

.about {
  color: var(--FontColor);
}
.aboutText {
  color: var(--FontColor);
}

@media (width<992px) {

  .intro {
    padding-top: 7rem;
  }

  .about {
    padding-top: 3rem;
    padding-right: 2rem;
  }
}
@media (width<450px) {
.myPic div p{
  font-size: 3rem;
}
}
