.contact {
  padding: 9rem 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heading {
  color: var(--FontColor);

  h1 {
    font-size: 3.5rem;
  }

  span {
    width: 5rem;
    height: .3rem;
    border-radius: .5rem;
    background: var(--GradientColor);
  }
}



.formContainer {
  width: 50%;
  background: var(--bgContact);
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media(width<768px) {
  .formContainer {
    width: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.formContainer button:active {
  scale: 0.95;
}

.formContainer .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer .formGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer .formGroup label {
  display: block;
  margin-bottom: 5px;
  color: var(--bgContactFontColor);
  font-weight: 600;
  font-size: 12px;
}

.formContainer .formGroup input {
  width: 100%;
  color: var(--FontColor);
  font-family: inherit;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #414141;
}

.formContainer .formGroup textarea {
  width: 100%;
  border-radius: 8px;
  resize: none;
  color: var(--FontColor);
  height: 15rem;
  border: .1rem solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.formContainer .formGroup input::placeholder {
  opacity: 0.5;
}

.formContainer .formGroup input:focus {
  outline: none;
}

.formContainer .formGroup textarea:focus {
  outline: none;
}



.form button {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: var(--GradientColor);
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;


}

.form button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px transparent;
  transform: translateY(-0.1em);
}