footer {
  background-color: var(--bgFooter);
}

footer .name {
  .copyright {
    color: var(--FontColor);
  }

  .designed {
    background: var(--GradientColor);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}


.write span {
  color: var(--FontColor);
}

.social {
  color: var(--FontColor);
}

.social span {
  cursor: pointer;
}


.social .socialIcon {
  fill: var(--FontColor);
}

.social span:hover .socialIcon {
  fill: var(--SocialIcconHover);
}