
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bgColor);
}

.dark {
  --bgColor: rgb(20, 20, 20);
  --bgNav: rgb(15, 15, 15);
  --NavMenuBtn:#ffffff;
  --bgIntro:linear-gradient(90deg, rgb(20,20,20), rgb(30,30,30));
  --bgmyPicCircle:#ffffff;
  --GradientColor: linear-gradient(82.3deg,rgba(150, 93, 233, 1) 10.8%,rgba(99, 88, 238, 1) 94.3%);
  --bs-offcanvas-bg: rgb(15, 15, 15);
  --bs-navbar-toggler-icon-bg: #fff;
  --bgFooter: rgb(15, 15, 15);
  --FontColor: #efebeb;
  --ExtBtn:#ffffff;
  --CatBtn:rgb(15, 15, 15);
  --bgCard: rgb(15, 15, 15);
  --bgContact: linear-gradient(#212121, #212121) padding-box,
  linear-gradient(82.3deg,
  rgba(150, 93, 233, 1) 10.8%,
  rgba(99, 88, 238, 1) 94.3%) border-box;
  --bgContactFontColor: #717171;
  --socialIcon: #ffffff;
}
.light {
  --bgColor: #F4ECE6;
  --bgNav: #ffffff;
  --NavMenuBtn:#418AFF;
  --bgIntro:linear-gradient(90deg, #F4ECE6, #f4dece);
  --bgmyPicCircle:rgb(30,30,30);
  --GradientColor: linear-gradient(90deg,  #418AFF, #4d91ff);
  --bs-offcanvas-bg: rgb(105, 174, 197);
  --bs-navbar-toggler-icon-bg: #000;
  --bgFooter: #ffffff;
  --FontColor: #000000;
  --ExtBtn:#418AFF;
  --CatBtn:#418AFF;
  --bgCard: #ffffff;
  --bgContact: #ffffff;
  --bgContactFontColor: #000;
  --socialIcon: #000;
}
